body,
body[theme-mode='dark'] .semi-always-light {
  --semi-black: 0, 0, 0;

  --semi-red-0: 254, 240, 236;

  --semi-red-1: 253, 216, 207;

  --semi-red-2: 252, 174, 160;

  --semi-red-3: 250, 130, 113;

  --semi-red-4: 249, 83, 67;

  --semi-red-5: 247, 34, 22;

  --semi-red-6: 211, 16, 12;

  --semi-red-7: 176, 5, 7;

  --semi-red-8: 140, 0, 7;

  --semi-red-9: 104, 0, 8;

  --semi-white: 255, 255, 255;

  --semi-blue-0: 234, 246, 254;

  --semi-blue-1: 203, 231, 254;

  --semi-blue-2: 151, 206, 252;

  --semi-blue-3: 100, 180, 251;

  --semi-blue-4: 50, 152, 249;

  --semi-blue-5: 0, 123, 248;

  --semi-blue-6: 0, 102, 212;

  --semi-blue-7: 0, 82, 177;

  --semi-blue-8: 0, 63, 141;

  --semi-blue-9: 0, 45, 105;

  --semi-cyan-0: 228, 248, 247;

  --semi-cyan-1: 192, 240, 240;

  --semi-cyan-2: 135, 223, 225;

  --semi-cyan-3: 84, 205, 210;

  --semi-cyan-4: 39, 186, 195;

  --semi-cyan-5: 0, 167, 180;

  --semi-cyan-6: 0, 137, 150;

  --semi-cyan-7: 0, 107, 120;

  --semi-cyan-8: 0, 79, 90;

  --semi-cyan-9: 0, 52, 60;

  --semi-grey-0: 249, 249, 249;

  --semi-grey-1: 230, 231, 234;

  --semi-grey-2: 198, 200, 205;

  --semi-grey-3: 167, 169, 176;

  --semi-grey-4: 136, 138, 146;

  --semi-grey-5: 107, 109, 117;

  --semi-grey-6: 85, 87, 97;

  --semi-grey-7: 65, 67, 76;

  --semi-grey-8: 46, 47, 56;

  --semi-grey-9: 28, 29, 35;

  --semi-lime-0: 243, 250, 230;

  --semi-lime-1: 229, 245, 196;

  --semi-lime-2: 208, 236, 141;

  --semi-lime-3: 190, 226, 90;

  --semi-lime-4: 177, 217, 43;

  --semi-lime-5: 166, 207, 0;

  --semi-lime-6: 135, 173, 0;

  --semi-lime-7: 106, 138, 0;

  --semi-lime-8: 78, 103, 0;

  --semi-lime-9: 51, 69, 0;

  --semi-pink-0: 253, 235, 240;

  --semi-pink-1: 250, 204, 219;

  --semi-pink-2: 245, 156, 187;

  --semi-pink-3: 241, 109, 159;

  --semi-pink-4: 236, 63, 135;

  --semi-pink-5: 231, 20, 114;

  --semi-pink-6: 195, 11, 99;

  --semi-pink-7: 160, 4, 84;

  --semi-pink-8: 124, 0, 68;

  --semi-pink-9: 88, 0, 51;

  --semi-teal-0: 228, 247, 242;

  --semi-teal-1: 192, 240, 227;

  --semi-teal-2: 135, 225, 202;

  --semi-teal-3: 84, 209, 180;

  --semi-teal-4: 39, 194, 160;

  --semi-teal-5: 0, 179, 143;

  --semi-teal-6: 0, 149, 122;

  --semi-teal-7: 0, 119, 99;

  --semi-teal-8: 0, 90, 76;

  --semi-teal-9: 0, 60, 52;

  --semi-amber-0: 253, 249, 234;

  --semi-amber-1: 252, 240, 203;

  --semi-amber-2: 248, 223, 153;

  --semi-amber-3: 245, 203, 104;

  --semi-amber-4: 241, 180, 56;

  --semi-amber-5: 238, 155, 10;

  --semi-amber-6: 198, 119, 6;

  --semi-amber-7: 159, 87, 3;

  --semi-amber-8: 119, 59, 1;

  --semi-amber-9: 79, 35, 0;

  --semi-brand-0: 235, 239, 247;

  --semi-brand-1: 205, 216, 240;

  --semi-brand-2: 160, 179, 224;

  --semi-brand-3: 119, 144, 209;

  --semi-brand-4: 83, 111, 193;

  --semi-brand-5: 51, 81, 178;

  --semi-brand-6: 40, 66, 158;

  --semi-brand-7: 31, 53, 137;

  --semi-brand-8: 23, 40, 117;

  --semi-brand-9: 16, 30, 96;

  --semi-green-0: 236, 247, 235;

  --semi-green-1: 208, 240, 206;

  --semi-green-2: 164, 225, 161;

  --semi-green-3: 123, 209, 121;

  --semi-green-4: 85, 194, 85;

  --semi-green-5: 53, 179, 55;

  --semi-green-6: 43, 149, 46;

  --semi-green-7: 33, 119, 37;

  --semi-green-8: 24, 90, 28;

  --semi-green-9: 15, 60, 19;

  --semi-indigo-0: 236, 239, 248;

  --semi-indigo-1: 207, 216, 240;

  --semi-indigo-2: 163, 179, 225;

  --semi-indigo-3: 124, 144, 210;

  --semi-indigo-4: 88, 111, 195;

  --semi-indigo-5: 57, 81, 180;

  --semi-indigo-6: 46, 66, 160;

  --semi-indigo-7: 36, 52, 139;

  --semi-indigo-8: 27, 40, 119;

  --semi-indigo-9: 19, 30, 98;

  --semi-orange-0: 255, 247, 234;

  --semi-orange-1: 254, 235, 203;

  --semi-orange-2: 253, 211, 152;

  --semi-orange-3: 252, 184, 101;

  --semi-orange-4: 251, 154, 50;

  --semi-orange-5: 250, 121, 0;

  --semi-orange-6: 214, 93, 0;

  --semi-orange-7: 179, 69, 0;

  --semi-orange-8: 143, 48, 0;

  --semi-orange-9: 107, 30, 0;

  --semi-purple-0: 246, 232, 247;

  --semi-purple-1: 237, 201, 240;

  --semi-purple-2: 216, 151, 225;

  --semi-purple-3: 194, 107, 209;

  --semi-purple-4: 172, 67, 194;

  --semi-purple-5: 148, 33, 179;

  --semi-purple-6: 126, 24, 159;

  --semi-purple-7: 104, 17, 138;

  --semi-purple-8: 84, 11, 118;

  --semi-purple-9: 66, 6, 97;

  --semi-violet-0: 238, 236, 249;

  --semi-violet-1: 215, 207, 243;

  --semi-violet-2: 178, 163, 232;

  --semi-violet-3: 146, 122, 220;

  --semi-violet-4: 117, 85, 209;

  --semi-violet-5: 91, 51, 197;

  --semi-violet-6: 80, 40, 177;

  --semi-violet-7: 70, 31, 156;

  --semi-violet-8: 59, 23, 136;

  --semi-violet-9: 50, 16, 115;

  --semi-yellow-0: 254, 253, 234;

  --semi-yellow-1: 254, 250, 203;

  --semi-yellow-2: 252, 241, 151;

  --semi-yellow-3: 251, 229, 100;

  --semi-yellow-4: 249, 214, 50;

  --semi-yellow-5: 248, 196, 0;

  --semi-yellow-6: 207, 153, 0;

  --semi-yellow-7: 165, 114, 0;

  --semi-yellow-8: 124, 79, 0;

  --semi-yellow-9: 83, 49, 0;

  --semi-light-blue-0: 233, 248, 253;

  --semi-light-blue-1: 201, 238, 251;

  --semi-light-blue-2: 148, 219, 247;

  --semi-light-blue-3: 97, 199, 244;

  --semi-light-blue-4: 48, 178, 240;

  --semi-light-blue-5: 0, 156, 236;

  --semi-light-blue-6: 0, 129, 200;

  --semi-light-blue-7: 0, 103, 165;

  --semi-light-blue-8: 0, 79, 129;

  --semi-light-blue-9: 0, 55, 93;

  --semi-light-green-0: 243, 248, 235;

  --semi-light-green-1: 227, 240, 206;

  --semi-light-green-2: 200, 225, 162;

  --semi-light-green-3: 173, 210, 122;

  --semi-light-green-4: 147, 195, 86;

  --semi-light-green-5: 123, 180, 54;

  --semi-light-green-6: 100, 150, 44;

  --semi-light-green-7: 78, 120, 34;

  --semi-light-green-8: 57, 90, 24;

  --semi-light-green-9: 37, 60, 16;
}

body[theme-mode='dark'],
body .semi-always-dark {
  --semi-black: 0, 0, 0;

  --semi-red-0: 104, 0, 8;

  --semi-red-1: 140, 0, 7;

  --semi-red-2: 176, 5, 7;

  --semi-red-3: 211, 16, 12;

  --semi-red-4: 247, 34, 22;

  --semi-red-5: 249, 83, 67;

  --semi-red-6: 250, 130, 113;

  --semi-red-7: 252, 174, 160;

  --semi-red-8: 253, 216, 207;

  --semi-red-9: 254, 240, 236;

  --semi-white: 255, 255, 255;

  --semi-blue-0: 0, 45, 105;

  --semi-blue-1: 0, 63, 141;

  --semi-blue-2: 0, 82, 177;

  --semi-blue-3: 0, 102, 212;

  --semi-blue-4: 0, 123, 248;

  --semi-blue-5: 50, 152, 249;

  --semi-blue-6: 100, 180, 251;

  --semi-blue-7: 151, 206, 252;

  --semi-blue-8: 203, 231, 254;

  --semi-blue-9: 234, 246, 254;

  --semi-cyan-0: 0, 52, 60;

  --semi-cyan-1: 0, 79, 90;

  --semi-cyan-2: 0, 107, 120;

  --semi-cyan-3: 0, 137, 150;

  --semi-cyan-4: 0, 167, 180;

  --semi-cyan-5: 39, 186, 195;

  --semi-cyan-6: 84, 205, 210;

  --semi-cyan-7: 135, 223, 225;

  --semi-cyan-8: 192, 240, 240;

  --semi-cyan-9: 228, 248, 247;

  --semi-grey-0: 28, 29, 35;

  --semi-grey-1: 46, 47, 56;

  --semi-grey-2: 65, 67, 76;

  --semi-grey-3: 85, 87, 97;

  --semi-grey-4: 107, 109, 117;

  --semi-grey-5: 136, 138, 146;

  --semi-grey-6: 167, 169, 176;

  --semi-grey-7: 198, 200, 205;

  --semi-grey-8: 230, 231, 234;

  --semi-grey-9: 249, 249, 249;

  --semi-lime-0: 51, 69, 0;

  --semi-lime-1: 78, 103, 0;

  --semi-lime-2: 106, 138, 0;

  --semi-lime-3: 135, 173, 0;

  --semi-lime-4: 166, 207, 0;

  --semi-lime-5: 177, 217, 43;

  --semi-lime-6: 190, 226, 90;

  --semi-lime-7: 208, 236, 141;

  --semi-lime-8: 229, 245, 196;

  --semi-lime-9: 243, 250, 230;

  --semi-pink-0: 88, 0, 51;

  --semi-pink-1: 124, 0, 68;

  --semi-pink-2: 160, 4, 84;

  --semi-pink-3: 195, 11, 99;

  --semi-pink-4: 231, 20, 114;

  --semi-pink-5: 236, 63, 135;

  --semi-pink-6: 241, 109, 159;

  --semi-pink-7: 245, 156, 187;

  --semi-pink-8: 250, 204, 219;

  --semi-pink-9: 253, 235, 240;

  --semi-teal-0: 0, 60, 52;

  --semi-teal-1: 0, 90, 76;

  --semi-teal-2: 0, 119, 99;

  --semi-teal-3: 0, 149, 122;

  --semi-teal-4: 0, 179, 143;

  --semi-teal-5: 39, 194, 160;

  --semi-teal-6: 84, 209, 180;

  --semi-teal-7: 135, 225, 202;

  --semi-teal-8: 192, 240, 227;

  --semi-teal-9: 228, 247, 242;

  --semi-amber-0: 79, 35, 0;

  --semi-amber-1: 119, 59, 1;

  --semi-amber-2: 159, 87, 3;

  --semi-amber-3: 198, 119, 6;

  --semi-amber-4: 238, 155, 10;

  --semi-amber-5: 241, 180, 56;

  --semi-amber-6: 245, 203, 104;

  --semi-amber-7: 248, 223, 153;

  --semi-amber-8: 252, 240, 203;

  --semi-amber-9: 253, 249, 234;

  --semi-brand-0: 16, 30, 96;

  --semi-brand-1: 23, 40, 117;

  --semi-brand-2: 31, 53, 137;

  --semi-brand-3: 40, 66, 158;

  --semi-brand-4: 51, 81, 178;

  --semi-brand-5: 83, 111, 193;

  --semi-brand-6: 119, 144, 209;

  --semi-brand-7: 160, 179, 224;

  --semi-brand-8: 205, 216, 240;

  --semi-brand-9: 235, 239, 247;

  --semi-green-0: 15, 60, 19;

  --semi-green-1: 24, 90, 28;

  --semi-green-2: 33, 119, 37;

  --semi-green-3: 43, 149, 46;

  --semi-green-4: 53, 179, 55;

  --semi-green-5: 85, 194, 85;

  --semi-green-6: 123, 209, 121;

  --semi-green-7: 164, 225, 161;

  --semi-green-8: 208, 240, 206;

  --semi-green-9: 236, 247, 235;

  --semi-indigo-0: 19, 30, 98;

  --semi-indigo-1: 27, 40, 119;

  --semi-indigo-2: 36, 52, 139;

  --semi-indigo-3: 46, 66, 160;

  --semi-indigo-4: 57, 81, 180;

  --semi-indigo-5: 88, 111, 195;

  --semi-indigo-6: 124, 144, 210;

  --semi-indigo-7: 163, 179, 225;

  --semi-indigo-8: 207, 216, 240;

  --semi-indigo-9: 236, 239, 248;

  --semi-orange-0: 107, 30, 0;

  --semi-orange-1: 143, 48, 0;

  --semi-orange-2: 179, 69, 0;

  --semi-orange-3: 214, 93, 0;

  --semi-orange-4: 250, 121, 0;

  --semi-orange-5: 251, 154, 50;

  --semi-orange-6: 252, 184, 101;

  --semi-orange-7: 253, 211, 152;

  --semi-orange-8: 254, 235, 203;

  --semi-orange-9: 255, 247, 234;

  --semi-purple-0: 66, 6, 97;

  --semi-purple-1: 84, 11, 118;

  --semi-purple-2: 104, 17, 138;

  --semi-purple-3: 126, 24, 159;

  --semi-purple-4: 148, 33, 179;

  --semi-purple-5: 172, 67, 194;

  --semi-purple-6: 194, 107, 209;

  --semi-purple-7: 216, 151, 225;

  --semi-purple-8: 237, 201, 240;

  --semi-purple-9: 246, 232, 247;

  --semi-violet-0: 50, 16, 115;

  --semi-violet-1: 59, 23, 136;

  --semi-violet-2: 70, 31, 156;

  --semi-violet-3: 80, 40, 177;

  --semi-violet-4: 91, 51, 197;

  --semi-violet-5: 117, 85, 209;

  --semi-violet-6: 146, 122, 220;

  --semi-violet-7: 178, 163, 232;

  --semi-violet-8: 215, 207, 243;

  --semi-violet-9: 238, 236, 249;

  --semi-yellow-0: 83, 49, 0;

  --semi-yellow-1: 124, 79, 0;

  --semi-yellow-2: 165, 114, 0;

  --semi-yellow-3: 207, 153, 0;

  --semi-yellow-4: 248, 196, 0;

  --semi-yellow-5: 249, 214, 50;

  --semi-yellow-6: 251, 229, 100;

  --semi-yellow-7: 252, 241, 151;

  --semi-yellow-8: 254, 250, 203;

  --semi-yellow-9: 254, 253, 234;

  --semi-light-blue-0: 0, 55, 93;

  --semi-light-blue-1: 0, 79, 129;

  --semi-light-blue-2: 0, 103, 165;

  --semi-light-blue-3: 0, 129, 200;

  --semi-light-blue-4: 0, 156, 236;

  --semi-light-blue-5: 48, 178, 240;

  --semi-light-blue-6: 97, 199, 244;

  --semi-light-blue-7: 148, 219, 247;

  --semi-light-blue-8: 201, 238, 251;

  --semi-light-blue-9: 233, 248, 253;

  --semi-light-green-0: 37, 60, 16;

  --semi-light-green-1: 57, 90, 24;

  --semi-light-green-2: 78, 120, 34;

  --semi-light-green-3: 100, 150, 44;

  --semi-light-green-4: 123, 180, 54;

  --semi-light-green-5: 147, 195, 86;

  --semi-light-green-6: 173, 210, 122;

  --semi-light-green-7: 200, 225, 162;

  --semi-light-green-8: 227, 240, 206;

  --semi-light-green-9: 243, 248, 235;
}
