$radius-tag: 8px;
$radius-card: 8px;
$spacing-card-padding: 15px;
$spacing-form_label-marginTop: 5px;
$spacing-form_message-marginTop: 2px;
$spacing-form_label-marginBottom: 5px;
$spacing-form_field_vertical-paddingTop: 5px;
$spacing-form_field_vertical-paddingBottom: 12px;
$radius-tabs_tab_card: 8px;
$radius-tabs_tab_button: 8px;
$radius-tree_checkbox_addon: 8px;
$color-input_default-bg-focus: var(--semi-color-bg-0);
$color-input_default-bg-focus-hover: var(--semi-color-bg-0);
$radius-input_wrapper: 8px;
$radius-modal_footer: 8px;
$radius-modal_content: 8px;
$radius-modal_content_fullscreen: 0px;
$spacing-modal_header-marginY: 18px;
$spacing-modal_content-paddingX: 20px;
$spacing-modal_content-paddingY: 0px;
$radius-steps_basic_item_left_number_icon: 8px;
$color-table_th-bg-default: var(--semi-color-fill-0);
$color-table_th-border-default: var(--semi-color-bg-0);
$font-toast_content-fontWeight: 500;
$radius-toast_content: 8px;
$radius-banner: 8px;
$radius-button: 8px;
$color-select-bg-focus: var(--semi-color-bg-0);
$color-select-bg-hover: var(--semi-color-bg-0);
$color-select-bg-active: var(--semi-color-bg-0);
$color-select-border-hover: var(--semi-color-info);
$radius-select: 8px;
$radius-calendar_currCircle: 8px;
$radius-cascader: 8px;
$spacing-collapse_header-marginX: 0px;
$radius-progress_track: 8px;
$radius-progress_track_inner: 8px;
$radius-skeleton_li: 8px;
$radius-skeleton_item: 8px;
$color-tagInput-border-hover: var(--semi-color-info);
$color-tagInput_default-bg-focus: var(--semi-color-bg-0);
$color-tagInput_default-bg-hover: var(--semi-color-bg-0);
$radius-tagInput: 8px;
$radius-timeline_head: 8px;
$radius-transfer: 8px;
$spacing-sideSheet_body-paddingX: 12px;
$spacing-sideSheet_header-padding: 24px;
$spacing-sideSheet_header-paddingBottom: 12px;
$radius-datepicker_range_input: 8px;
$radius-datepicker_range_input_inputWrapper: 8px;
$color-navigation_itemL1-text-active: var(--semi-color-text-1);
$color-navigation_itemL1-text-default: var(--semi-color-text-1);
$width-navigation_item-borderRadius: 8px;
$radius-pagination_item: 8px;
$width-popconfirm-icon: 26px;
$radius-scrollList: 8px;
$radius-timePicker_input: 8px;
$color-treeSelect_default-bg-hover: var(--semi-color-bg-0);
$color-treeSelect_default-border-hover: var(--semi-color-info);
$radius-treeSelect: 8px;
$radius-inputNumber: 8px;
$radius-notification_notice: 8px;
